includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - src
        - infrastructure
        - routes
        - config
        - tests
    level: 6
    phpVersion: 80100
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    customRulesetUsed: true
